.container {
	width: 400px;
	margin-left: 600px;
	margin-top: 60px;

	
}

h1 {
	width: 100px;
	margin: auto;
}

header {
	background-color: red;

}

.link p {
	text-decoration: none;
	font-size: 25px;

}

.link{
	width: 300px;
	margin-left: 150px;
	margin-bottom: -600px;
	
	

}

.top p {
	width: auto;
	text-align: left;

}

.top {
	width: 1000px;
	margin-left: 200px;
}